.previewBlock {
    border: 1px solid rgba(128, 128, 128, 0.41);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 7px 17px 3px rgba(34, 60, 80, 0.62);
    margin: 30px;
}


.btnWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 670px) {
    .previewBlock {
        padding: 0 0 40px 0;
    }


}